table#top {
border-width:0px;
margin:0px;
padding:0px;
}

table#top a {text-decoration:none;display:block;  margin:0;}

table#nav a {text-decoration:none;}
table#nav a {display:block;  margin:0;}

tr#nav {
	width:644px;
	border-width: 0px;
	border: 0px;
margin:0px;
padding:0px;
}

td#mjbNav a:hover{background-color: #FFFF00;}
td#mjbNav {
	border-style:outset;	
	width:80px;
	font-size: 8pt;
	font-weight: bold;
	background-color: #CCCCCC;
	text-align: center;
    margin:0px;
    padding:0px;
}

td#mjbNavx a:hover{background-color: #FFFF00;}
td#mjbNavx {
	border-style:none;
	width:80px;
	font-size: 8pt;
	font-weight: bold;
	text-align: center;
    margin:0px;
    padding:0px;
}

td#mjbNave {
	border-style:none;
	width:80px;
	font-size: 8pt;
	font-weight: bold;
	text-align: center;
    margin:0px;
    padding:0px;
}

td#theoryNav a:hover{background-color: #FFFF00;}
td#theoryNav {
	border-style:outset;
	width:80px;
	font-size: 8pt;
	font-weight: bold;
	background-color: #99FFFF;
	text-align: center;
    margin:0px;
    padding:0px;
}

td#theoryNavx a:hover{background-color: #FFFF00;}
td#theoryNavx {
	border-style:none;
	width:80px;
	font-size: 8pt;
	font-weight: bold;
	text-align: center;
    margin:0px;
    padding:0px;
}

td#theoryNave {
	border-style:none;
	width:80px;
	font-size: 8pt;
	font-weight: bold;
	text-align: center;
    margin:0px;
    padding:0px;
}

td#physicsNav a:hover{background-color: #00FFFF;}
td#physicsNav {
	border-style:outset;
	width:80px;
	font-size: 8pt;
	font-weight: bold;
	background-color: #FFFF00;
	text-align: center;
    margin:0px;
    padding:0px;
}

td#physicsNavx a:hover{background-color: #00FFFF;}
td#physicsNavx {
	border-style:none;
	width:80px;
	font-size: 8pt;
	font-weight: bold;
	text-align: center;
    margin:0px;
    padding:0px;
}

td#physicsNave {
	border-style:none;
	width:80px;
	font-size: 8pt;
	font-weight: bold;
	text-align: center;
    margin:0px;
    padding:0px;
}

td#mathNav a:hover{background-color: #FFFF00;}
td#mathNav {
	border-style:outset;
	width:80px;
	font-size: 8pt;
	font-weight: bold;
	background-color: #FFCC00;
	text-align: center;
    margin:0px;
    padding:0px;
}

td#mathNavx a:hover{background-color: #FFFF00;}
td#mathNavx {
	border-style:none;
	width:80px;
	font-size: 8pt;
	font-weight: bold;
	text-align: center;
    margin:0px;
    padding:0px;
}

td#mathNave {
	border-style:none;
	width:80px;
	font-size: 8pt;
	font-weight: bold;
	text-align: center;
    margin:0px;
    padding:0px;
}

td#progNav a:hover{background-color: #FFFF00;}
td#progNav {
	border-style:outset;
	width:80px;
	font-size: 8pt;
	font-weight: bold;
	background-color: #FF9966;
	text-align: center;
    margin:0px;
    padding:0px;
}

td#progNavx a:hover{background-color: #FFFF00;}
td#progNavx {
	border-style:none;
	width:80px;
	font-size: 8pt;
	font-weight: bold;
	text-align: center;
    margin:0px;
    padding:0px;
}

td#progNave {
	border-style:none;
	width:80px;
	font-size: 8pt;
	font-weight: bold;
	text-align: center;
    margin:0px;
    padding:0px;
}

td#softwareNav a:hover{background-color: #FFFF00;}
td#softwareNav {
	border-style:outset;
	width:80px;
	font-size: 8pt;
	font-weight: bold;
	background-color: #FF9966;
	text-align: center;
    margin:0px;
    padding:0px;
}

td#softwareNavx a:hover{background-color: #FFFF00;}
td#softwareNavx {
	border-style:none;
	width:80px;
	font-size: 8pt;
	font-weight: bold;
	text-align: center;
    margin:0px;
    padding:0px;
}

td#softwareNave {
	border-style:none;
	width:80px;
	font-size: 8pt;
	font-weight: bold;
	text-align: center;
    margin:0px;
    padding:0px;
}

td#newNav a:hover{background-color: #FFFF00;}
td#newNav {
	border-style:outset;
	width:80px;
	font-size: 8pt;
	font-weight: bold;
	background-color: #FF6699;
	text-align: center;
    margin:0px;
    padding:0px;
}

td#newNavx a:hover{background-color: #FFFF00;}
td#newNavx {
	border-style:none;
	width:80px;
	font-size: 8pt;
	font-weight: bold;
	text-align: center;
    margin:0px;
    padding:0px;
}

td#newNave {
	border-style:none;
	width:80px;
	font-size: 8pt;
	font-weight: bold;
	text-align: center;
    margin:0px;
    padding:0px;
}

td#copyrightNav a:hover{background-color: #FFFF00;}
td#copyrightNav {
	border-style:outset;
	width:80px;
	font-size: 8pt;
	font-weight: bold;
	background-color: #FF66FF;
	text-align: center;
    margin:0px;
    padding:0px;
}

td#copyrightNavx a:hover{background-color: #FFFF00;}
td#copyrightNavx {
	border-style:none;
	width:80px;
	font-size: 8pt;
	font-weight: bold;
	text-align: center;
    margin:0px;
    padding:0px;
}

td#copyrightNave {
	border-style:none;
	width:80px;
	font-size: 8pt;
	font-weight: bold;
	text-align: center;
    margin:0px;
    padding:0px;
}

td#sitemapNav a:hover{background-color: #FFFF00;}
td#sitemapNav {
	border-style:outset;
	width:80px;
	font-size: 8pt;
	font-weight: bold;
	background-color: #00FF00;
	text-align: center;
    margin:0px;
    padding:0px;
}

td#sitemapNavx a:hover{background-color: #FFFF00;}
td#sitemapNavx {
	border-style:none;
	width:80px;
	font-size: 8pt;
	font-weight: bold;
	text-align: center;
    margin:0px;
    padding:0px;
}

td#sitemapNave {
	border-style:none;
	width:80px;
	font-size: 8pt;
	font-weight: bold;
	text-align: center;
    margin:0px;
    padding:0px;
}

td#artNav a:hover{background-color: #FFFF00;}
td#artNav {
	border-style:outset;
	width:80px;
	font-size: 8pt;
	font-weight: bold;
	background-color: #CC99FF;
	text-align: center;
    margin:0px;
    padding:0px;
}

td#artNavx a:hover{background-color: #FFFF00;}
td#artNavx {
	border-style:none;
	width:80px;
	font-size: 8pt;
	font-weight: bold;
	text-align: center;
    margin:0px;
    padding:0px;
}

td#artNave {
	border-style:none;
	width:80px;
	font-size: 8pt;
	font-weight: bold;
	text-align: center;
    margin:0px;
    padding:0px;
}

td#telecomsNav a:hover{background-color: #FFFF00;}
td#telecomsNav {
	border-style:outset;
	width:80px;
	font-size: 8pt;
	font-weight: bold;
	background-color: #99CC99;
	text-align: center;
    margin:0px;
    padding:0px;
}

td#telecomsNavx a:hover{background-color: #FFFF00;}
td#telecomsNavx {
	border-style:none;
	width:80px;
	font-size: 8pt;
	font-weight: bold;
	text-align: center;
    margin:0px;
    padding:0px;
}

td#telecomsNave {
	border-style:none;
	width:80px;
	font-size: 8pt;
	font-weight: bold;
	text-align: center;
    margin:0px;
    padding:0px;
}

td#travelNav a:hover{background-color: #FFFF00;}
td#travelNav {
	border-style:outset;
	width:80px;
	font-size: 8pt;
	font-weight: bold;
	background-color: #6699FF;
	text-align: center;
    margin:0px;
    padding:0px;
}

td#travelNavx a:hover{background-color: #FFFF00;}
td#travelNavx {
	border-style:none;
	width:80px;
	font-size: 8pt;
	font-weight: bold;
	text-align: center;
    margin:0px;
    padding:0px;
}

td#travelNave {
	border-style:none;
	width:80px;
	font-size: 8pt;
	font-weight: bold;
	text-align: center;
    margin:0px;
    padding:0px;
}

td#thinkNav a:hover{background-color: #FFFF00;}
td#thinkNav {
	border-style:outset;
	width:80px;
	font-size: 8pt;
	font-weight: bold;
	background-color: #6699FF;
	text-align: center;
    margin:0px;
    padding:0px;
}

td#thinkNavx a:hover{background-color: #FFFF00;}
td#thinkNavx {
	border-style:none;
	width:80px;
	font-size: 8pt;
	font-weight: bold;
	text-align: center;
    margin:0px;
    padding:0px;
}

td#thinkNave {
	border-style:none;
	width:80px;
	font-size: 8pt;
	font-weight: bold;
	text-align: center;
    margin:0px;
    padding:0px;
}

td#techNav a:hover{background-color: #FFFF00;}
td#techNav {
	border-style:outset;
	width:80px;
	font-size: 8pt;
	font-weight: bold;
	background-color: #99ff99;
	text-align: center;
    margin:0px;
    padding:0px;
}

td#techNavx a:hover{background-color: #FFFF00;}
td#techNavx {
	border-style:none;
	width:80px;
	font-size: 8pt;
	font-weight: bold;
	text-align: center;
    margin:0px;
    padding:0px;
}

td#techNave {
	border-style:none;
	width:80px;
	font-size: 8pt;
	font-weight: bold;
	text-align: center;
    margin:0px;
    padding:0px;
}

td#top a:hover{background-color: #FFFF00;border-style:outset;
padding-left:4px;
padding-right:4px;
padding-top:2px;
}

td#top {
	border-style:none;
	font-size: 8pt;
	font-weight: bold;
	text-align: center;
}

p#mathNav {
	border-width: 0px;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

img#mathNav {
border-top-width:0px;
border-bottom-width:0px;
border-width:0px;
margin:0px;
margin-bottom:0px;
margin-top:0px;
padding:0px;
padding-bottom:0px;
padding-top:0px;
}

img#nav {
vertical-align:top;
border-width:0px;
margin:0px;
padding:0px;
}

pre#nav {
border:0px;
margin:0px;
padding:0px;
height:10px;
overflow:hidden;
}

a#ext {
background: #FFFF00 url(ext.gif) left top no-repeat;
padding-left:16pt;
border: 1px solid #ff0000;
}

#topContent {
	position:relative;
	left:0px;
	top:0px;
}

#main {
	position:relative;
	width:600px;
	max-width:600px;
	top:0px;
	margin-bottom: 40px;
}

#sidebar {
	width: 300px;
	position:absolute;
	left:620px;
	top:0px;
	border:0px;
	margin:0px;
	border-spacing:0px;
}

#topAd {
    position:absolute;
	left:700px;
	top:50px;
}


.sidebarBlock {
		background: #b4b4b4;
		margin-bottom: 20px;
		padding: 10px;
		}

#sidebar h2 {
	background: #0000ff;
	margin: 0;
	padding: 8px 10px 6px;
	color: #ffffff;
}

#sidebar h2.bobMJBWorldHeader {
		background: #8080ff;
		border-bottom: 1px solid #ffffff;
		}

#sidebar h2.bobTheoryHeader {
		background: #8080ff;
		border-bottom: 1px solid #ffffff;
		}

#sidebar h2.bobPhysicsHeader {
		background: #f08040;
		border-bottom: 1px solid #ffffff;
		}

#sidebar h2.bobMathHeader {
		background: #a08040;
		border-bottom: 1px solid #ffffff;
		}

#sidebar h2.bobSoftwareHeader {
		background: #f0f040;
		border-bottom: 1px solid #ffffff;
		}

#sidebar h2.bobNewHeader {
		background: #FF6699;
		border-bottom: 1px solid #ffffff;
		}

#sidebar h2.bobCopyrightHeader {
		background: #f080f0;
		border-bottom: 1px solid #ffffff;
		}

#sidebar h2.bobSitemapHeader {
		background: #40f040;
		border-bottom: 1px solid #ffffff;
		}

#sidebar h2.bobArtHeader {
		background: #f040f0;
		border-bottom: 1px solid #ffffff;
		}

#sidebar h2.bobTelecomHeader {
		background: #40f040;
		border-bottom: 1px solid #ffffff;
		}

#sidebar h2.bobTechHeader {
		background: #4040f0;
		border-bottom: 1px solid #ffffff;
		}

#sidebar h2.bobThinkHeader {
		background: #4040f0;
		border-bottom: 1px solid #ffffff;
		}
